.feature-list-items{
    list-style-type: none;
}
.feature{
    margin-top: 0px;
    background: var(--primary-header-color);
}
.feature-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.feature-title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-header-color);
    margin-top:  30px;
    margin-bottom: 10px;
    }
  
.feature-title-text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--accent-color);
    margin-top: 0px;
    }
.feature-icons{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: contain;
    background-position: center;
    }
.feature-cont-icons{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #F5F4FA;
    border-radius: 4px;
    }
   